<module id="bark-dialogue-editor">
  <resources>
    <resource path="assets/styles" prefix="styles" />
    <resource path="assets/icons" prefix="icons" />
    <resource path="assets/images" prefix="images" />
    <resource path="assets/components" prefix="components" />
    <resource path="assets/nodes" prefix="nodes" />
  </resources>

  <themes>
    <global>
      <style resource="styles/style.css" />
    </global>
  </themes>

  <components>
	<class folder="assets/components" />
  </components >
</module>