.node {
  background-color: white;
  border-radius: 6px;
  border-width: 1;
  border-color: black;
  padding: 6px;
  cursor: move;
}

.node.selected{
	background-color: #a7a7a7;
}

.node-header {
  /* color: white; */
  font-weight: bold;
  cursor: move;
}

.connector-main {
  background-color: #00ffcc;
  border-radius: 5px;
}

.connector-sub {
  background-color: #ffaa00;
  border-radius: 5px;
}

.active-scene {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
