.node {
  background-color: white;
  border-radius: 6px;
  border-width: 1;
  border-color: black;
  padding: 6px;
  cursor: move;
}

.node.selected{
	background-color: #a7a7a7;
}

.node-header {
  /* color: white; */
  font-weight: bold;
  cursor: move;
}

.connector-main {
  background-color: #00ffcc;
  border-radius: 5px;
}

.connector-sub {
  background-color: #ffaa00;
  border-radius: 5px;
}

.active-scene {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}


.custom-context-menu {
    background-color: #2b2b2b;
    border: 1px solid #444444;
    padding: 2px;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    min-width: 150px;
}

.menu-item-button {
    background: #2b2b2b;
    border: none;
    text-align: left;
    padding: 5px 10px;
    color: #eeeeee;
	cursor: pointer;
}

.menu-item-button:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}